In [57]:
import pandas as pd
from pathlib import Path
from sklearn.preprocessing import MinMaxScaler
import os
from nbconvert import ScriptExporter

In [59]:
raw_path = './../data/raw/UCI_Credit_Card.csv'                   # Ноутбук
# raw_path = './../../data/raw/UCI_Credit_Card.csv'                # Скрипт
processed_path = './../data/processed/UCI_Credit_Card.csv'       # Ноутбук
# processed_path = './../../data/processed/UCI_Credit_Card.csv'    # Скрипт

In [60]:
# Создаем функцию для загрузки датасета
def load_data(data_path=raw_path):
    df = pd.read_csv(data_path)
    return df

In [61]:
# Посмотрим на наш датасет
df = load_data()
print(f'Размер таблицы: {df.shape}')
print('Первые строки:')
print(df.head())
print('Типы данных:')
print(df.dtypes)

Размер таблицы: (30000, 25)
Первые строки:
   ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4  \
0   1    20000.0    1          2         1   24      2      2     -1     -1
1   2   120000.0    2          2         2   26     -1      2      0      0
2   3    90000.0    2          2         2   34      0      0      0      0
3   4    50000.0    2          2         1   37      0      0      0      0
4   5    50000.0    1          2         1   57     -1      0     -1      0

   ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  \
0  ...        0.0        0.0        0.0       0.0     689.0       0.0
1  ...     3272.0     3455.0     3261.0       0.0    1000.0    1000.0
2  ...    14331.0    14948.0    15549.0    1518.0    1500.0    1000.0
3  ...    28314.0    28959.0    29547.0    2000.0    2019.0    1200.0
4  ...    20940.0    19146.0    19131.0    2000.0   36681.0   10000.0

   PAY_AMT4  PAY_AMT5  PAY_AMT6  default.payment.next.month
0       0.0       0.0       0.0                           1
1    1000.0       0.0    2000.0                           1
2    1000.0    1000.0    5000.0                           0
3    1100.0    1069.0    1000.0                           0
4    9000.0     689.0     679.0                           0

[5 rows x 25 columns]
Типы данных:
ID                              int64
LIMIT_BAL                     float64
SEX                             int64
EDUCATION                       int64
MARRIAGE                        int64
AGE                             int64
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
BILL_AMT1                     float64
BILL_AMT2                     float64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                     float64
BILL_AMT6                     float64
PAY_AMT1                      float64
PAY_AMT2                      float64
PAY_AMT3                      float64
PAY_AMT4                      float64
PAY_AMT5                      float64
PAY_AMT6                      float64
default.payment.next.month      int64
dtype: object

In [15]:
# Создадим функцию, которая будет производить разведывательный анализ датасета
def explore_data(df):
    # Находим количсество пропусков в данных
    print('Количество пропусков:')
    print(df.isna().sum())

    # Оцениваем процентное распределение целевой переменной
    target_distribution = df['default.payment.next.month'].value_counts(normalize=True)*100
    print('\nРаспределение целевой переменной (%):')
    print(target_distribution)

    # Выводим статистику по числовым признакам
    numeric_columns = df.select_dtypes(include=['float', 'int']).columns
    print('\nСтатистика по числовым признакам:')
    print(df[numeric_columns].describe())

    # Выведем значения категориальных признаков
    categorical_columns = df.select_dtypes(exclude=['float', 'int']).columns
    if len(categorical_columns) > 0:
        print('\nКатегоричные признаки:')
        for col in categorical_columns:
            print(f'{col}: {df[col].unique()}')

In [16]:
explore_data(df)

Количество пропусков:
ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

Распределение целевой переменной (%):
0    77.88
1    22.12
Name: default.payment.next.month, dtype: float64

Статистика по числовым признакам:
            LIMIT_BAL      BILL_AMT1      BILL_AMT2     BILL_AMT3  \
count    30000.000000   30000.000000   30000.000000  3.000000e+04
mean    167484.322667   51223.330900   49179.075167  4.701315e+04
std     129747.661567   73635.860576   71173.768783  6.934939e+04
min      10000.000000 -165580.000000  -69777.000000 -1.572640e+05
25%      50000.000000    3558.750000    2984.750000  2.666250e+03
50%     140000.000000   22381.500000   21200.000000  2.008850e+04
75%     240000.000000   67091.000000   64006.250000  6.016475e+04
max    1000000.000000  964511.000000  983931.000000  1.664089e+06

           BILL_AMT4      BILL_AMT5      BILL_AMT6       PAY_AMT1  \
count   30000.000000   30000.000000   30000.000000   30000.000000
mean    43262.948967   40311.400967   38871.760400    5663.580500
std     64332.856134   60797.155770   59554.107537   16563.280354
min   -170000.000000  -81334.000000 -339603.000000       0.000000
25%      2326.750000    1763.000000    1256.000000    1000.000000
50%     19052.000000   18104.500000   17071.000000    2100.000000
75%     54506.000000   50190.500000   49198.250000    5006.000000
max    891586.000000  927171.000000  961664.000000  873552.000000

           PAY_AMT2      PAY_AMT3       PAY_AMT4       PAY_AMT5       PAY_AMT6
count  3.000000e+04   30000.00000   30000.000000   30000.000000   30000.000000
mean   5.921163e+03    5225.68150    4826.076867    4799.387633    5215.502567
std    2.304087e+04   17606.96147   15666.159744   15278.305679   17777.465775
min    0.000000e+00       0.00000       0.000000       0.000000       0.000000
25%    8.330000e+02     390.00000     296.000000     252.500000     117.750000
50%    2.009000e+03    1800.00000    1500.000000    1500.000000    1500.000000
75%    5.000000e+03    4505.00000    4013.250000    4031.500000    4000.000000
max    1.684259e+06  896040.00000  621000.000000  426529.000000  528666.000000

Категоричные признаки:
ID: [    1     2     3 ... 29998 29999 30000]
SEX: [2 1]
EDUCATION: [2 1 3 5 4 6 0]
MARRIAGE: [1 2 3 0]
AGE: [24 26 34 37 57 29 23 28 35 51 41 30 49 39 40 27 47 33 32 54 58 22 25 31
 46 42 43 45 56 44 53 38 63 36 52 48 55 60 50 75 61 73 59 21 67 66 62 70
 72 64 65 71 69 68 79 74]
PAY_0: [ 2 -1  0 -2  1  3  4  8  7  5  6]
PAY_2: [ 2  0 -1 -2  3  5  7  4  1  6  8]
PAY_3: [-1  0  2 -2  3  4  6  7  1  5  8]
PAY_4: [-1  0 -2  2  3  4  5  7  6  1  8]
PAY_5: [-2  0 -1  2  3  5  4  7  8  6]
PAY_6: [-2  2  0 -1  3  6  4  7  8  5]
default.payment.next.month: [1 0]

In [17]:
# Создадим функцию, которая будет предобрабатывать данные
def preprocess_data(df):
    # Удаляем столбец ID
    df.drop(columns=["ID"], inplace=True)

    # Производим биннинг возраста
    bins = [20, 30, 40, 50, float('inf')]
    labels = ['Молодые', 'Средний возраст', 'Взрослые', 'Старшие']
    df['AGE_GROUP'] = pd.cut(df['AGE'], bins=bins, labels=labels)

    # Выполняем OHE-обработку категориальных признаков
    cat_cols = ['SEX', 'MARRIAGE', 'EDUCATION']
    df_encoded = pd.get_dummies(df, columns=cat_cols, drop_first=True)

    # Нормализуем числовые признаки
    scaler = MinMaxScaler()
    num_cols = ['LIMIT_BAL'] + [f'BILL_AMT{i}' for i in range(1, 7)] + [f'PAY_AMT{i}' for i in range(1, 7)]
    df_scaled = scaler.fit_transform(df_encoded[num_cols])
    df_encoded[num_cols] = df_scaled

    return df_encoded

In [26]:
# Обрабатываем данные и сохраняем датасет
df_processed = preprocess_data(df)
output_path = Path(processed_path+'preprocessed_data.csv')
df_processed.to_csv(output_path, index=False)
print(f'\nДанные успешно сохранены в {output_path}.')

Данные успешно сохранены в ..\data\processed\preprocessed_data.csv.

In [50]:
# Сохранение ноутбука, как скрипт
# notebook_name = 'import_and_eda.ipynb'
# output_folder = './../src/data/'

# exporter = ScriptExporter()
# script, resources = exporter.from_filename(notebook_name)
# script = script[:-430]

# os.makedirs(output_folder, exist_ok=True)
# with open(os.path.join(output_folder, notebook_name.replace('import_and_eda.ipynb', 'make-dataset.py')), 'w') as f:
#     f.write(script)
#     print('Скрипт сохранен')

Скрипт сохранен